apiVersion: v1
kind: ConfigMap
metadata:
  name: livekit-config
  namespace: livekit
data:
  livekit.yaml: |
    port: 7880
    rtc:
      tcp_port: 7881
      port_range_start: 50000
      port_range_end: 60000
      use_external_ip: false
    redis: {}
    log_level: info
    keys:
      devkey-livekit-api-key-2024: devkey-livekit-api-secret-2024-min-32-chars


